@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$darkgrey: #2d2d2d;
$accent: #D49221;
$lightgrey: gainsboro;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

body, html {
    font-family: 'Roboto', sans-serif;
    // background-color: #5d5d5d;
    // color: white;
    // background-color: #f8f8f8;
}

a {
    // color: $darkgrey;
    text-decoration: none;
    // font-weight: bold;

    &:hover {
        color: $accent !important
    }
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-color: $lightgrey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-family: 'Roboto', sans-serif;

    &.not-home {
        height: 7vh;
        min-height: 10px;

        &::before {    
            content: "";
            // background-image: none;
            height: 7vh;
            min-height: 10px;
            background-image: url('../assests/gallery/schilthorn.jpg');
            // background-size: 100% 10%;
            // background-repeat: no-repeat;
        }
    }

    &::before {    
        content: "";
        background-image: url('../assests/gallery/schilthorn.jpg');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    }
}

nav {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    .nav-link {
        color: $darkgrey;
    }
}

.nav-start, .nav-end {
    // border: 1px solid green;
    width: 8%;
}

.w-30 {
    width: 30%
}

.mobile-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: -50px;
    width: 100%;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility, opacity .5s ease-out;

    li {
        margin: 15px 0;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
        color: white;
        letter-spacing: 1px;
    }
}

.cover-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: visibility, opacity .5s ease-out;
}

.cover-container {
    transition: background-color .6s ease-out;
}

#mobile-menu-button {
    height: 40px;
    width: 40px;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

#about-image {
    width: 100%;
    padding: 10px;
    transform: rotate(-0deg);
    // border-radius: 20px;
}

.about-text {
    font-size: 20px;
}

section {
    width: 100%;
    // margin: 10px 10px;
}


h2 {
    // margin: 35px 0 20px;
    font-weight: 300;
}

section#experiences {
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 15px
    }
}

// .exp-image {
//     width: 100%;
    
//     &.right {
//         transform: rotate(0deg);
//     }

//     &.left {
//         transform: rotate(-0deg);
//     }
// }


// .exp-item {
//     margin: 30px 0;
// }

// .exp-content {
//     padding: 10px 0;
// }

// section#contact {
//     a {
//         font-size: 25px;
//     }
// }

// .frame {
//     border: 2px black solid;
//     transform: rotate(-10deg);
//     width: 300px;
//     height: 250px;
//     position: absolute;
// }

// for phone
@media only screen and (max-width: map-get($map: $grid-breakpoints, $key: "md" )) {     
    #about-image {
        content: url('../assests/images/profile-small.jpg');
        // width: 100%;
        // padding: 10px;
        border-radius: 100%;
    }

    #about-text {
        text-align: center;
        font-size: larger;
    }

}

// fun stuff

// $l1: 400px;

// .arm1 {
//     width: $l1;
//     height: 20px;
//     // left: 800px;
//     right: 0px;
//     top: 150px;
//     z-index: 1;
//     transform-origin: 100% 50%;
//     border-radius: 10px;
//     transform: rotate(-0.39269908169rad)
// }

// .arm2 {
//     width: 200px;
//     height: 20px;
//     // left: 650px;
//     right: $l1;
//     top: 150px;
//     z-index: 1;
//     transform-origin: 100% 50%;
//     border-radius: 10px;
//     transform: translate(30px, 153px) rotate(-0.78539816339rad) 
// }

// #canvas {
//     width: 100%;
//     height: 100%;
//     border: solid 1px black;
// }

