#profile {
    width: 100%;
    height: auto;
  }

html, body {
    font-family: 'Roboto:wght@400', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}   

.profile-container{
    display:flex;
    padding: 100px 20%;
    justify-content: space-around;

}

.profile-container div {
    /* border: 1px solid; */
    margin: 10px;
}

.box-1 {
    flex:1;
    width:10%;
}

.box-2 {
    flex:1;
    padding: 140px 0px;
}

.box-side {
    flex:2;
}