/* General */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    font-weight: 300;
}

button {
    font-family: Roboto;
    font-weight: 300;
}

img {
    border-radius: 20px;
}

/* Header and nav bar  */

.header-mobile {
    display: none;
}

.splash-container-mobile {
    display: none;
}

header {
    display: flex;
    width: 100%;
    margin: auto;
    /* padding: 0 200px ; */
    align-items: center;
    height: 8vh;
    position: fixed;
    background-color: white;
    border-bottom: grey 1px solid;
    z-index: 3;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

nav {
    flex: 1;
    padding: 0 100px;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: #023d5e;
    /* font-family: OpenSans, sans-serif; */
}

.nav-links a:hover {
    color: #f68045;
}

.nav-links h3 {
    /* font-family: OpenSans, sans-serif; */
    font-size: 25px;
    font-weight: 400;
    color: black;
}

.nav-links h3:hover {
    color: #f68045;
}

/* Splash page  */

.splash-page {
    display:flex;
    width: 75%;
    margin: 0 auto 2vh auto;
    padding-top: 8vh;
    align-items: center;
    justify-content: center;
    height: 90vh;
    z-index: -2;
    /* flex-direction: column; */
}

.splash-image-container {
    width: 300px;
}

.splash-image-container img {
    width: 100%;
}

.about-container {
    font-size: 1.8vw;
    line-height: 1.5;
    margin: 0 0 0 3vw;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* background-color: lightblue; */
}

.about-container strong {
    font-weight: 400;
}

/* .about-container button {
    background-color: white;
    border: solid 2px #023d5e;
    color: #023d5e;
    padding: 15px 32px;
    margin: 20px auto 20px 0;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    width: 180px;
} */

.about-container a {
    text-decoration: none;
    color: #023d5e;
    border: solid 2px #023d5e;
    border-radius: 10px;
    background-color: white;
    width: 10vw;
    margin: 20px 0;
    text-align: center;
    padding: 0 20px;
}

.about-container a:hover {
    color: #f68045;
    font-weight: 400;
    border: solid 2px #f68045;
}

/* Experiences */

.experiences {
    /* background-image: linear-gradient(white,#faedd4); */
    padding-bottom: 40px;
}

.experiences .flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 60px auto 0 auto;
    width: 70%;
    /* background-color: #f8d285; */
}

.experiences .flex-item-img {
    /* border: 2px solid black; */
    flex: 1.4;
    padding: 10px 0;
}

.experiences .flex-item-about {
    /* border: 2px solid black; */
    flex: 2;
    padding: 0px 30px;
    line-height: 1.4;
    /* box-shadow: 2px 2px 4px grey; */
}

.experiences .flex-item-img img {
    /* height: 30vh; */
    width: 320px;
    margin: 0 auto 0 auto;
    display: block;
    box-shadow: 2px 2px 4px grey;
}

.flex-container h1 {
    font-weight: 500;
    /* padding: 0 0 5px 0; */
    color: #023d5e;
    font-size: 30px;
}

.flex-container h2 {
    font-weight: 400;
    /* padding: 0 0 5px 0; */
    font-size: 25px;
}

.flex-container h3 {
    font-weight: 400;
    /* padding: 0 0 5px 0; */
    font-size: 20px;
}

.flex-container p {
    padding: 10px 0;
    font-size: 15px;
}

section.experiences > h1 {
    color: black;
    font-size: 45px;
    margin: 0 auto;
    text-align: center;
    /* font-family: OpenSans, sans-serif; */
    font-weight: 300;
}

.experiences li {
    /* list-style: none; */
    margin: 2px 0 0 20px;
}

.experiences a {
    color: #023d5e;
    text-decoration: none;
    font-weight: bold;
}

.experiences a:hover {
    color: #f68045;
    text-decoration: none;
}

/* Skills  */

section.skills > h1 {
    /* color: black; */
    font-size: 45px;
    margin: 0 auto;
    text-align: center;
    /* font-family: OpenSans, sans-serif; */
    font-weight: 300;
}

.skills {
    /* background-color: #fae7c0; */
    background-color: #eeeeee;
    padding: 30px 0;
    /* color: greenyellow; */
    /* height: 90vh; */
    /* background-image: linear-gradient(black,white); */
}

.skills .flex-container {
    display: flex;
    margin: 60px auto;
    width: 60%;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.skills .flex-item {
    width: 20%;
    margin: 0 10px 0 10px;
    padding: 0px 20px 0 20px;
    font-size: 20px;
    line-height: 2;
    font-weight: 350;
    /* text-align: center; */
    border: 1px black solid;
    box-shadow: 2px 2px 4px grey;
    border-radius: 20px;
    background-color: white;
    /* font-family: 'Roboto Mono', monospace; */
}

.skills .flex-item li {
    list-style: none;
}

.skills .flex-item li:hover {
    color: #023d5e;
    font-weight: 500;
}

.skills .flex-item h2 {
    font-weight: 500;
    padding: 0 0 5px 0;
    /* color: black; */
    font-size: 30px;
}

/* Contact */

.contact {
    padding-top: 22px;
    height: 32vh;
    /* background-color: #fde0a6; */
}

section.contact > h1 {
    color: black;
    font-size: 45px;
    margin: 0 auto -20px auto;
    text-align: center;
    /* font-family: OpenSans, sans-serif; */
    font-weight: 300;
}

.contact .flex-container {
    display: flex;
    margin: 60px auto;
    width: 40%;
    justify-content: space-around;
}

.contact .flex-item {
    padding: 10px;
}


/* Gallery */

.gallery {
    height: 58vh;
    width: 100%;
    /* background-color: #fdd991; */
    /* border-top: grey 2px solid; */
}

.gallery .flex-container {
    display: flex;
    height: 58vh;
    text-align: left;
    position: relative;
    /* background-color: lightcoral; */
    align-items: flex-end;
}

/* .gallery .flex-item-img {
    flex: 1;
    border: 3px solid black;
    max-height: 100%;
} */

.gallery .flex-item-about {
    flex: 1;
    padding: 0 30px 6vw 55vw;
    line-height: 1.4;
    align-items: flex-start;
    /* height: 60vh; */
    /* border: 3px solid black; */
    /* background-color: lightcoral; */
}

.gallery .flex-item-about h1 {
    margin: 20px 0 20px 50px;
    /* height: 20px; */
    font-size: 3vw;
    color: black;
    font-weight: 300;
}

.gallery .flex-item-about h3 {
    margin: 0vw 0 0px 50px;
    height: 20px;
    font-size: 20px;
    color: black;
    font-weight: 300;
}

.gallery .flex-item-about p {
    margin: 0px 50px 0 50px;
    font-size: 20px;
    color: black;
    font-weight: 300;
    min-height: 60px;
}

.gallery img {
    width: 50%;
    object-fit: cover;
    max-height: 100%;
    position: absolute;
    flex: 1;
    /* padding: 200px 0; */
    /* bottom: 0px;
    left: 0px; */
    /* margin-top: auto; */
    /* display: block; */
    /* vertical-align: bottom; */
}

.gallery p a {
    text-decoration: none;
    color: #023d5e;
}

.gallery p a:hover {
    color: #f68045;
}

.gallery a {
    text-decoration: none;
    color: black;
}

/* Fade in  */

.fade-in{
    -webkit-animation: fade-in 2s ease;
    -moz-animation: fade-in ease-in-out 2s both;
    -ms-animation: fade-in ease-in-out 2s both;
    -o-animation: fade-in ease-in-out 2s both;
    animation: fade-in 2s ease;
    visibility: visible;
    -webkit-backface-visibility: hidden;
  }
  
  @-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
  @-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
  @-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
  @keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

/* Anchor */

a.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}

/* Media queries for mobile */

/* @media screen and (min-width: 1024px) {
    .splash-page-mobile {
        display: none;
    }
} */

@media screen and (max-width: 800px) {
    
    /* Nav bar for mobile */

    a.anchor {
        display: block;
        position: relative;
        top: -14vh;
        visibility: hidden;
    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 12vh;
        background-color: white;
    }

    .header-mobile a {
        color: black;
    }

    .nav {
        border-bottom: 1px solid grey;
        text-align: right;
        height: 12vh;
        line-height: 12vh;
    }

    .menu {
        margin: -4px 30px 0 0;
        text-align: center;
        width: 100%;
        display: block;
        visibility: hidden;
        z-index: 3;
        background-color: white;
        /* padding-bottom: 500px; */
        transition: width 1000ms;
        /* height: 0px; */
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
        /* background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,.8)); */
    }

    .menu a {
        text-decoration: none;
        color: #023d5e;
        margin: 0 0px;
        display: block;    
        z-index: 1;
        font-size: 8vw;
    }

    /* .menu a:active {
        background-color: blue;
    } */

    .nav label {
        margin: 0 20px 0 0;
        font-size: 30px;
        line-height: 12vh;
    }

    .nav h1 {
        font-size: 8vw;
        float: left;
        margin: 0 0 0 20px;
        font-weight: 400;
    }

    #toggle {
        display: none;
    }

    #toggle:checked + .menu {
        display: block;
        visibility: visible;
        opacity: .95;
    }

    /* Splash page for mobile */

    .splash-page {
        display: none;
    }

    .splash-container-mobile {
        display: block;
        position: relative;
        z-index: 1;
        margin: 16vh 2vh 0 2vh;
    }

    .splash-container-mobile img {
        width: 70%;
        /* margin: 8vh 0 0 20px; */
    }

    .splash-container-mobile div {
        background-color: white;
        border: 2px black solid;
        border-radius: 10px;
        position: absolute;
        padding: 15px 20px;
        opacity: 1;
        bottom: 60px;
        right: 0px;
        font-size: 5vw;
        line-height: 1.2;
    }

    .splash-container-mobile a {
        text-decoration: none;
        color: #023d5e;
        border: solid 2px #023d5e;
        border-radius: 10px;
        background-color: white;
        width: 8vw;
        margin: 10px 0;
        text-align: center;
        padding: 5px 20px;
    }

    /* Experiences for mobile */

    .experiences {
        background-image: none;
        /* z-index: -1; */
    }

    .experiences .flex-container {
        display: flex;
        margin: 40px auto 0px auto;
        width: 90%;
        flex-direction: column;
    }
    
    .experiences .flex-item-img {
        /* border: 2px solid black; */
        flex: 1;
        /* padding: 10px 0; */
    }
    
    .experiences .flex-item-about {
        /* border: 2px solid black; */
        flex: 1;
        padding: 10px 10px;
        line-height: 1.4;
        font-size: 4vw;
        /* border: 1px solid grey; */
        box-shadow: 2px 2px 4px grey;
        background-color: white;
    }
    
    .experiences .flex-item-img img {
        /* height: 30vh; */
        width: 90%;
        margin: 0 auto 20px auto;
        display: block;
        box-shadow: 2px 2px 4px grey;
    }
    
    .flex-container h1 {
        font-weight: 500;
        padding: 0 0 5px 0;
        color: #023d5e;
        font-size: 8vw;
    }
    
    .flex-container h2 {
        font-weight: 400;
        padding: 0 0 5px 0;
        font-size: 7vw;
    }
    
    .flex-container h3 {
        font-weight: 400;
        /* padding: 0 0 5px 0; */
        font-size: 4vw;
    }
    
    .flex-container p {
        padding: 10px 0;
        font-size: 15px;
    }
    
    section.experiences > h1 {
        color: black;
        font-size: 10vw;
        margin: 30px auto -30px auto;
        text-align: center;
        font-weight: 300;
    }
    
    .experiences li {
        /* list-style: none; */
        margin: 2px 0 0 20px;
    }
    
    .experiences a {
        color: #023d5e;
        text-decoration: none;
        font-weight: bold;
    }
    
    .experiences a:hover {
        color: #f68045;
        text-decoration: none;
    }

    /* Skills for mobile */

    section.skills > h1 {
        /* color: black; */
        font-size: 10vw;
        margin: 0 auto;
        text-align: center;
        font-weight: 300;
    }
    
    .skills {
        background-color: #eeeeee;
        padding: 20px 0;
        margin: 20px 0;
        /* color: greenyellow; */
        /* height: 90vh; */
        /* background-image: linear-gradient(black,white); */
    }
    
    .skills .flex-container {
        display: flex;
        margin: 20px auto;
        width: 70%;
        justify-content: space-around;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    
    .skills .flex-item {
        width: 100%;
        margin: 0 10px;
        font-size: 6vw;
        line-height: 2;
        /* border: 2px black solid; */
        /* font-family: 'Roboto Mono', monospace; */
    }
    
    .skills .flex-item li {
        list-style: none;
    }
    
    .skills .flex-item li:hover {
        color: #023d5e;
        font-weight: 500;
    }
    
    .skills .flex-item h2 {
        font-weight: 500;
        padding: 0 0 5px 0;
        /* color: black; */
        font-size: 8vw;
    }

    /* Contact for mobile */

    .contact {
        padding-top: 22px;
        height: 32vh;
    }
    
    section.contact > h1 {
        color: black;
        font-size: 10vw;
        margin: 0 auto -20px auto;
        text-align: center;
        font-weight: 300;
    }
    
    .contact .flex-container {
        display: flex;
        margin: 60px auto;
        width: 40%;
        justify-content: space-around;
        font-size: 3vw;
    }

    .contact .flex-item {
        padding: 0 30px;
    }

    /* Gallery for mobile */

    .gallery {
        display: none;
    }

}
