#profile {
    width: 100%;
    height: auto;
  }

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #121d26;
    font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #121d26;
    font-size: 3vw;
}   

.profile-container{
    /* background-color: #f57f46; */
    background-color: #0bfa03;

    padding: 0 25%;

    height:100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.experiences {
    background-color: #e9dcd5 ;
    padding: 100px 15%;
}

.section-header {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #121d26;
}

.section-header-2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    color: #121d26;
}

.section-header-3 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
    color: #121d26;
}

.section-header-4 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
    color: #121d26;
    padding-top: 0.5em;
}

hr {
    width: 50%;
    height: 1px;
    border-width: 0;
    margin: -30px auto;
    /* align-self: center; */
    color: #121d26;
    background-color: #121d26;
}

.icons {
    display:flex;
    align-items: center;
}

.icons-icon {
    padding-left: 1rem;
    text-align: center;
    position: relative;
}

.icons-description {
    margin-left: 0.5rem;
}

/* .description {
    padding-top: 2em;
} */
